color-scheme = hexo-config("color_scheme")
background-image = hexo-config("background_image")

if !background-image
    body
        background lightgray

    #container .left-col
        background white

    .article 
        background white
        .article-inner 
            margin-bottom 1em
        .article-more-link a
            opacity .9

    .tagcloud a
        opacity .9

    #header .header-nav .social li
        opacity .8

    .archives-wrap
        background white

    .scroll a .fa
        color white

    .post-nav-button
        background #ececec

    #post-nav-button a
        background rgba(215, 216, 215, .5)

    .post-list
        background white

    #article-nav
        background rgba(158,188,226,.9)


if color-scheme == "yilia"
    body
        background gray

    .article-header
        border-left 5px solid #666

    .article-more-link a
        background #4d4d4d
        font-size .8em

    .tagcloud a.color3
        background #7B5D5F
        &:before
            border-right-color #7B5D5F

    .tagcloud a.color5
        background #BA8F6C
        &:before
            border-right-color #BA8F6C
        &:hover 
            background-color hover-color
            border-color hover-color
            &::before 
                border-right-color hover-color

