heading_style = hexo-config("heading_style")
all_heading = "h1, h2, h3, h4, h5, h6"

if !heading_style
    h1
        margin-top 30px
    h2
        margin .5em auto
        color rgb(102, 190, 102)
        padding-bottom 5px
        border-bottom 1px solid #ddd
        text-align center
        font-size 1.5rem
        &:hover
            color #88acdb
        &::before, &::after
            content " —— "
            font-family Arial
    h3
        margin .5em auto
        color #438aac
        background rgba(243,248,253,0.6)
        border 1px solid #d2e8fa
        padding .2em .6em
        box-shadow: 1px 1px 1px rgba(0,0,0, .15)
        &:hover a
            text-decoration underline
        &::after
            content " >"
    h4, h5, h6
        margin-top 20px
        color #574c4c
        padding-bottom 5px
        border-bottom 1px solid #ddd

if heading_style == 1
    {all_heading}
        margin-top 20px
        color #574C4C
        padding-bottom 5px
        border-bottom 1px solid #ddd
    h1
        margin-top 30px

if heading_style == 2
    {all_heading}
        margin-top 1em
        margin-bottom 16px
        font-weight bold
        line-height 1.4
        color #333
        font-family "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
    h1, h2
        padding-bottom .3em
        border-bottom 1px solid #eee

    heading = 2.25 1.2, 1.75 1.225, 1.5 1.43, 1.25 1.1
    for x, i in heading
        h{i+1}
            font-size x[0]rem
            line-height x[1]

    h1
        margin .67em 0
    h5, h6
        font-size 1rem
    h6
        color #777