.article-entry code
    color gray
    background rgba(248, 237, 223, .5)
    padding .05em .3em
    border-radius 3px
    box-shadow 1px 1px 1px rgba(0,0,0, .08)
    if highlight_style
        var inline_code = hexo-config("highlight_style.inline_code")
        color white
        if !inline_code
            color gray
        if inline_code
            background rgba(153, 204, 153, .7)
        if inline_code == "2"
            color #f48385
            background rgba(199,38,79,0.07)
        if inline_code == "3"
            color gray
            background rgba(255, 250, 165, .7)
        if inline_code == "4"
            background rgba(136, 172, 219, .65)
        if inline_code == "5"
            background rgba(239, 117, 34, .42)
        if inline_code == "6"
            background rgba(217, 83, 79, .45)
        if inline_code == "7"
            background rgba(129, 138, 145, .35)
        if inline_code == "8"
            background rgba(91, 192, 222, .6)
        if inline_code == "9"
            background rgba(250, 250, 250, .6)