#header .header-nav .social
    margin-top 10px
    text-align center
    font-family Arial
    a
        width base-font-size + 21
        height @width
        border-radius 50%
        margin 0 2px 6px
        vertical-align middle
        font-size .66*@width
        line-height @width
        text-align center
        color white
        background #6f7170
        opacity i-opacity
        box-shadow 1px 2px 2px rgba(0,0,0, .1), 1px 1px 3px rgba(0,0,0, .3)
        &:hover
            opacity 1
            transform scale(1.1)

    img-logo = "新浪微博" #ecc260 80%,
                "知乎" #0078d8 90%,
                "豆瓣" #06c611 88%,
                V2EX #e4cdb4 78%,
                TiddlyWiki #6283dd 82%,
                "简书" #e99888 82%,
                SegmentFault #018f56 80%,
                "网易云音乐" #e51e02 80%,
                "虾米音乐" #ff6a00 82%,
                CSDN red 82%,
                "博客园" #217ed4 95%,
                Plunker black 90%

    for i in img-logo
        .{i[0]}
            background url(root-url + '/img/' + i[0] + '.png') center no-repeat i[1]
            background-size i[2]

    .GitHub
        background url(//cdn.bootcss.com/logos/0.2.0/github-octocat.svg) no-repeat white
        background-size 90%
        background-position 50% 100%

    .CodePen
        background url(//cdn.bootcss.com/logos/0.2.0/codepen-icon.svg) no-repeat black
        background-size 70%
        background-position 50% 50%

    // icon from Font Awesome
    font-logo = RSS f09e #ef7522, 
                Google f1a0 #c83d20,
                Twitter f099 #55cff8,
                LinkedIn f0e1 #005a87,
                Email f003 #6fc0e4,
                Facebook f09a #3b5998,
                QQ f1d6 #1cbcef,
                '微信' f1d7 #8cdc49,
                PayPal f1ed #03a4e4,
                StackOverflow f16c #f48024,
                Instagram f16d #bab0a6,
                Flickr f16e #0365c8,
                reddit f281 #0278d1,
                Medium f23a #00ab6b,
                Tumblr f173 #3a5976,
                _500px f26e #0099e5

    for i in font-logo
        .{i[0]}
            background i[2]
            &::before
                content '\' + i[1]