<div class="analysis-container">
	<i class="fa fa-line-chart"></i>
	<%= __('counter.hits.pv') %><span id="busuanzi_value_page_pv"><i class="fa fa-spinner fa-spin"></i></span> <%= __('counter.hits.unit') %>
</div>