<% if (post.categories && post.categories.length){ %>
	<div class="article-category tagcloud">
		<i class="icon-book icon"></i>
		<ul class="article-tag-list">
			<% post.categories.forEach(function(tag, i){ %> 
        		<li class="article-tag-list-item">
        			<a href="<%= config.root %>categories/<%= tag.name.replace(/\s+/g, '') %>/" class="article-tag-list-link color<%= tag.name.length % 5 + 1 %>"><%-tag.name%></a>
        		</li>
      		<% }) %>
		</ul>
	</div>
<% } %>
