<% if (post.categories && post.categories.length){ %>
	<div class="article-category tagcloud">
	<i class="icon-price-tags"></i>
	<%- list_categories(post.categories, {
	  show_count: false,
	  class: 'article-category',
	  style: 'none',
	  separator: ''
	}) %>
	</div>
<% } %>
