<div id="SOHUCS" sid="<%=key%>" ></div> 
<script charset="utf-8" type="text/javascript" src="//changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
    window.changyan.api.config({
        appid: "<%=theme.changyan_appid%>",
        conf: "<%=theme.changyan_conf%>"
    });
</script>
</script>