<% if (post.prev || post.next){ %>
<nav id="article-nav">
  <% if (post.prev){ %>
    <div id="article-nav-newer" class="article-nav-title">
      <a href="<%- url_for(post.prev.path) %>">
        <%= post.prev.title %>
      </a>
    </div>
  <% } %>
  <% if (post.next){ %>
    <div id="article-nav-older" class="article-nav-title">
      <a href="<%- url_for(post.next.path) %>">
        <%= post.next.title %>
      </a>
    </div>
  <% } %>
</nav>
<% } %>