<section id="comments">
	<div id="valine" class="valine"></div>
		<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
		<script src='/Valine.min.js'></script>
		<script>
		new Valine({
			av: AV,
			el: '.valine' ,
			app_id: "<%=theme.valine.appId%>",
			app_key: "<%=theme.valine.appKey %>",
			placeholder: 'ヾﾉ≧∀≦)o来啊，快活啊!'
		});
		</script>
</section>