<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<script>
  var cloudTieConfig = {
    url: "<%=url%>", 
    sourceId: "<%=key%>",
    productKey: "<%=theme.wangyiyun%>",
    target: "cloud-tie-wrapper"
  };
</script>
<script src="//img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>