#back-to-top {
    cursor: pointer;
    position: fixed;
    right: 50px;
    top: -900px;
    z-index: 9;
    width: 70px;
    height: 900px;
    background: url(/img/scroll.png);
    transition: all 0.5s ease-in-out;
}

#back-to-top #rocket {
    margin: 8px;
}

#back-to-top #rocket path {
    transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

#back-to-top.red:hover #rocket path {
    fill: #92C0EF;
}

.fa.fa-heart {
  color: red;
}