<aside class="wrap-side-operation">
    <div class="mod-side-operation">
        <% if (theme.top){ %>
        <div class="jump-container" id="js-jump-container" style="display:none;">
            <a href="javascript:void(0)" class="mod-side-operation__jump-to-top">
                <i class="icon-font icon-back"></i>
            </a>
            <div id="js-jump-plan-container" class="jump-plan-container" style="top: -11px;">
                <i class="icon-font icon-plane jump-plane"></i>
            </div>
        </div>
        <% } %>
        <% if (!index && ((theme.toc === 1 && post.toc) || theme.toc === 2)){ %>
        <div class="toc-container tooltip-left">
            <i class="icon-font icon-category"></i>
            <div class="tooltip tooltip-east">
                <span class="tooltip-item">
                </span>
                <span class="tooltip-content">
                    <div class="toc-article">
                    <%- toc(post.content) || theme.toc_empty_wording %>
                    </div>
                </span>
            </div>
        </div>
        <% } %>
    </div>
</aside>