<footer id="footer">
<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
</script>
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
		</div>
		<span id="busuanzi_container_site_pv">
    		本站总访问量<span id="busuanzi_value_site_pv"></span>次
		</span>
		<span id="busuanzi_container_page_pv">
  			本文总阅读量<span id="busuanzi_value_page_pv"></span>次
  		</span>
      	<div class="footer-right">
		    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258655927'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1258655927' type='text/javascript'%3E%3C/script%3E"));</script>
      		<a href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a> by Litten
      	</div>
    </div>
  </div>

</footer>
