<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
      	<div class="footer-right">
            您是第
                <script type="text/javascript">
                var sc_project=10607972; 
                var sc_invisible=0; 
                var sc_security="46dd16e1"; 
                var scJsHost = (("https:" == document.location.protocol) ?
                "https://secure." : "http://www.");
                document.write("<sc"+"ript type='text/javascript' src='" +
                scJsHost+
                "statcounter.com/counter/counter.js'></"+"script>");
                </script>
                <noscript><div class="statcounter"><a title="web stats"
                href="http://statcounter.com/" target="_blank"><img
                class="statcounter"
                src="http://c.statcounter.com/10607972/0/46dd16e1/0/"
                alt="web stats"></a></div></noscript>
            位来访者 | 
      		Host on <a href="https://www.digitalocean.com/?refcode=49c4c6950bf7" target="_blank">DigitalOcean</a>
      	</div>
    </div>
  </div>
</footer>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?8c67224b90c2122e0df473510e1f2564";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

