<footer id="footer">
<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
</script>
  <div class="outer">
  	<div id="footer-info">
		<span id="span_dt_dt"></span>
		<span class="my-face">(●'◡'●)ﾉ♥</span>
	</div>
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
			<i class="fa fa-heart animated infinite pulse"></i>
		</div>
      	<div class="footer-right">
		    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258655927'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1258655927' type='text/javascript'%3E%3C/script%3E"));</script>
      		<a href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a href="https://github.com/airingursb/hexo-theme-airia" target="_blank">Airia</a> by Airing
      	</div>
		<div id="footer-time">
			<span id="busuanzi_container_site_pv">
	    		本站总访问量<span id="busuanzi_value_site_pv"></span>次
			</span>
			<span id="busuanzi_container_page_pv">
	  			本文总阅读量<span id="busuanzi_value_page_pv"></span>次
	  		</span>
		</div>
    </div>
  </div>
  <script> 
  $(document).ready(function ($) {
    // 利用 data-scroll 属性，滚动到任意 dom 元素
    $.scrollto = function (scrolldom, scrolltime) {
        $(scrolldom).click(function () {
            var scrolltodom = $(this).attr("data-scroll");
            $(this).addClass("active").siblings().removeClass("active");
            $('html, body').animate({
                scrollTop: $(scrolltodom).offset().top
            }, scrolltime);
            return false;
        });
    };
    // 判断位置控制 返回顶部的显隐
    if ($(window).width() > 800) {
        var backTo = $("#back-to-top");
        var backHeight = $(window).height() - 980 + 'px';
        $(window).scroll(function () {
            if ($(window).scrollTop() > 700 && backTo.css('top') === '-900px') {
                backTo.css('top', backHeight);
            }
            else if ($(window).scrollTop() <= 700 && backTo.css('top') !== '-900px') {
                backTo.css('top', '-900px');
            }
        });
    }
    // 启用
    $.scrollto("#back-to-top", 800);
	
	show_date_time();
	
	$("html,body").click(function(e){
	var n=Math.round(Math.random()*100);//随机数
	var $i=$("<b/>").text("+"+n);//添加到页面的元素
	var x=e.pageX,y=e.pageY;//鼠标点击的位置
	$i.css({
		"z-index":99999,
		"top":y-20,
		"left":x,
		"position":"absolute",
		"color":"#E94F06"
	});
	$("body").append($i);
	$i.animate(
		{"top":y-180,"opacity":0},
		1500,
		function(){$i.remove();}
	);
	e.stopPropagation();
	});
  });
  
  	
	function show_date_time() {
	    window.setTimeout("show_date_time()", 1000);
	    var BirthDay = new Date("December 4, 2014 21:12:00");
	    var today = new Date();
	    var timeold = (today.getTime() - BirthDay.getTime());
	    var msPerDay = 24 * 60 * 60 * 1000;
	    var e_daysold = timeold / msPerDay;
	    var daysold = Math.floor(e_daysold);
	    var e_hrsold = (e_daysold - daysold) * 24;
	    var hrsold = Math.floor(e_hrsold);
	    var e_minsold = (e_hrsold - hrsold) * 60;
	    var minsold = Math.floor((e_hrsold - hrsold) * 60);
	    var seconds = Math.floor((e_minsold - minsold) * 60);
	    span_dt_dt.innerHTML = "博客已萌萌哒运行了" + daysold + "天" + hrsold + "小时" + minsold + "分" + seconds + "秒";
	}
  </script>
</footer>
