<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
      	<div class="footer-right">
      	Host on <a href="https://www.conoha.jp/referral/?token=bRikVQ7w2RAns4.T83J9h9vLtWjUlzPg5Sp2BkW5iyNwAgfMKQc-MBL" target="_blank">ConoHa</a>
      	</div>
    </div>
  </div>
</footer>


