<% if (is_archive() || is_tag() || is_category()) { %>
    <button class="hide-labels">TAG 开关</button>
    <script src="http://7.url.cn/edu/jslib/comb/require-2.1.6,jquery-1.9.1.min.js">
    </script>
    <script>
        $(document).ready(function() {
            $("button").click(function() {
                $(".article-info").toggle(200);
            });
        });
    </script>
<% } %>