<!--[if lt IE 9]>
<style> body { background: orange !important;} div#container { display: none;} </style>
<p id="ie-updater">
    <% if (page.lang === "zh-Hans") { %>
        珍爱生命，远离 IE！<br>本站不支持 IE6/7/8，请升级浏览器！<br>
    <% } else { %>
        IE6/7/8 aren't Supported<br>Please UPDATE your Browser!<br>
    <% } %>
    <a href="//www.bing.com/search?q=Chrome" target="_blank">Chrome</a>, <a href="//www.bing.com/search?q=Firefox" target="_blank">Firefox</a><br>
    Hexo Theme <a href="//github.com/MOxFIVE/hexo-theme-yelee" target="_blank">Yelee</a> by MOxFIVE
</p>
<![endif]-->