<div class="scroll" id="scroll">
    <a href="#" title="<%= __('tooltip.back2top') %>"><i class="fa fa-arrow-up"></i></a>
    <a href="#comments" title="<%= __('tooltip.jump2comments') %>"><i class="fa fa-comments-o"></i></a>
    <a href="#footer" title="<%= __('tooltip.go2bottom') %>"><i class="fa fa-arrow-down"></i></a>
</div>