<%
  var hasInnerArchive = theme.smart_menu.innerArchive
  var hasFriends = theme.smart_menu.friends
  var hasAboutme = theme.smart_menu.aboutme
%>
<div class="tools-col" v-bind:class="{ show: isShow, hide: isShow === false }" v-on:click="stop($event)">
  <div class="tools-wrap">
    <%if(hasInnerArchive){%>
    	<section class="tools-section tools-section-all" v-show="innerArchive">
        <div class="search-wrap">
          <input class="search-ipt" v-model="search" type="text" placeholder="find something…">
          <i class="icon-search icon" v-show="search===''"></i>
          <i class="icon-close icon" v-show="search!==''" v-on:click="clearChose($event)"></i>
        </div>
        <div class="widget tagcloud search-tag">
          <p class="search-tag-wording">tag:</p>
          <label class="search-switch">
            <input type="checkbox" v-on:click="toggleTag($event)" v-bind:checked="showTags">
          </label>
          <ul class="article-tag-list" v-bind:class="{ show: showTags }">
            <% site.tags.forEach(function(tag, i){ %> 
              <li class="article-tag-list-item">
                <a href="javascript:void(0)" v-on:click="choseTag($event)" class="color3" style="font-size: 12px;"><%-tag.name%></a>
              </li>
            <% }) %>
            <div class="clearfix"></div>
          </ul>
        </div>
        <ul class="search-ul">
          <p v-show="jsonFail" style="padding: 20px; font-size: 12px;">
            缺失模块。<br/>1、在博客根目录（注意不是yilia根目录）执行以下命令：<br/> npm i hexo-generator-json-content --save<br/><br/>
            2、在根目录_config.yml里添加配置：
<pre style="font-size: 12px;" v-show="jsonFail">
  jsonContent:
    meta: false
    pages: false
    posts:
      title: true
      date: true
      path: true
      text: true
      raw: false
      content: false
      slug: false
      updated: false
      comments: false
      link: false
      permalink: false
      excerpt: false
      categories: false
      tags: true
</pre>
          </p>
          <li class="search-li" v-for="item in items" v-show="!item.isHide">
            <a v-bind:href="item.path|urlformat" class="search-title"><i class="icon-quo-left icon"></i>{{ item.title }}</a>
            <p class="search-time">
              <i class="icon-calendar icon"></i>
              <span>{{ item.date|dateformat }}</span>
            </p>
            <p class="search-tag">
              <i class="icon-price-tags icon"></i>
              <span v-for="tag in item.tags" v-on:click="choseTag($event, tag.name)">#{{ tag.name }}</span>
            </p>
          </li>
        </ul>
    	</section>
    <%}%>

    <%if(hasFriends){%>
    	<section class="tools-section tools-section-friends" v-show="friends">
  		<%if(theme.friends && theme.friends.length != 0){%>
        <ul class="search-ul">
          <% for (var i in theme.friends){ %>
            <li class="search-li">
              <a href="<%- url_for(theme.friends[i]) %>" target="_blank" class="search-title"><i class="icon-quo-left icon"></i><%= i %></a>
            </li>
          <% } %>
        </ul>
  		<%}%>
    	</section>
    <%}%>

    <%if(hasAboutme){%>
    	<section class="tools-section tools-section-me" v-show="aboutme">
  	  	<%if(theme.aboutme){%>
  	  		<div class="aboutme-wrap" id="js-aboutme"><%=theme.aboutme%></div>
  	  	<%}%>
    	</section>
    <%}%>
  </div>
  
</div>