<section class="archives-wrap">
  <div class="archive-year-wrap">
    <a href="#" class="archive-year">微信</a>
  </div>
  <div class="archives">
    <article class="archive-article archive-type-category">
      <div class="archive-article-inner">
        <header class="archive-article-header">
          <div class="article-info">
            <div class="article-category tagcloud wehcat-subtitle">
              使用手机微信扫描下列二维码加我微信
            </div>
          </div>
        </header>
      </div>

    </article>
  </div>
</section>
<section class="archives-wrap">
  <div class="wechat-wrap">
    <img src="<%= theme.wechatQRcode %>">
  </div>
</section>
