@charset "UTF-8";
//-----------------------------------------------------	
// core scss
// 提供所有的基础功能包括：变量设置，@media，基础mixin，animation，reset样式
// 默认会输出reset样式一份
//-----------------------------------------------------

//-----------------------------------------------------
// author:      结一 (http://weibo.com/marvin1023)
// version:     3.2.0
// time:        2016-04-11
// url:         https://github.com/marvin1023/sandal/
//-----------------------------------------------------


// 导入core中的基础文件
//-----------------------------------------------------
@import "function";
@import "core/reset";