#article-nav {
  margin: 0 0 30px 0;
  padding-bottom: 10px;
}
#article-nav .article-nav-link-wrap {
  margin: 0px 7.6923% 0px 7.6923%;;
  font-size: 14px;
}
#article-nav .article-nav-link-wrap .article-nav-title {
  display: inline-block;
  font-size: 16px;
  transition: color 0.3s;
}
#article-nav .article-nav-link-wrap:hover i {
  color: #4d4d4d;
}
#article-nav .article-nav-link-wrap:hover .article-nav-title {
  color: #4d4d4d;
}
#article-nav #article-nav-older {
  float: right;
}