.tabs {
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  background-color: #fff;
  margin-top: 15px;
  width: 100%;
  white-space: nowrap;
  .tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    float: left;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: .8px;
    width: 15%;
    min-width: 80px;
  }
}

.book-item {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  .activator {
    cursor: pointer;
  }
  .card {
    margin: 0 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    height: 300px;
    .right {
      float: right;
    }
    .external-link {
      font-size: 1.2em;
    }
    .fa-external-link:before {
      content: "\E618";
    }
    .fa {
      margin-right: 5px;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .card-image {
      min-height: 70%;
      max-height: 70%;
      overflow: hidden;
      img {
        display: block;
        border-radius: 2px 2px 0 0;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0;
        width: 100%;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        transition: all .3s ease-out;
      }
    }
    .card-content {
      max-height: 30%;
      border-radius: 0 0 2px 2px;
      padding: 15px;
      p {
        margin: 0;
        color: inherit;
      }
      .card-title {
        font-size: 1.4em;
        line-height: 48px;
        font-weight: 300;
      }
      .truncate {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .card-reveal {
      padding: 20px;
      position: absolute;
      background-color: #fff;
      width: 100%;
      overflow-y: auto;
      top: 100%;
      height: 100%;
      z-index: 3;
      display: none;
    }
    .waves-block {
      display: block;
    }
    .waves-effect {
      position: relative;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      vertical-align: middle;
      z-index: 1;
      will-change: opacity,transform;
      transition: all .3s ease-out;
    }
  }
  .small {
    height: 300px;
  }
  .hoverable {
    transition: box-shadow .25s;
    box-shadow: 0;
  }
}

.read-btn:hover {
  cursor: pointer;
  color: #a6d8f1;
}
