#footer {
	font-size: 12px;
	font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
	text-shadow: 0 1px #fff;
	position: absolute;
  margin-bottom: 10px;
	opacity: 0.6;
	width: 100%;
	text-align: center;
	.outer{
		padding: 0 30px;
	}
}
.footer-left{
  float: left;
}
.footer-right{
  float: right;
}
.footer-center{
  width: 80%;
  margin: auto;
}
#busuanzi{
  width: 80%;
  margin: 0 auto;
}
#icp_info{
  width: 80%;
  margin: 0 auto;
}
