.article-entry pre,
.article-entry .highlight {
  background: #272822;
  margin: 10px 0;
  padding: 10px 10px;
  overflow: auto;
  color: #fff;
  font-size: 0.9em;
  line-height: 22.400000000000002px;
}
.article-entry .highlight .gutter pre,
.article-entry .highlight .gutter pre .line,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: #eee;
  padding: 0 0.3em;
  border: none;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
  color: #fff;
}

.article-entry .highlight {
  border-radius: 4px;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  color: highlight-comment;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .gutter pre .line {
  text-shadow: none;
}
.article-entry .highlight .line {
  color: #fff;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #272822;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #272822;
  color: highlight-comment;
  font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment {
  color: #75715e;
}
pre .keyword,
pre .function .keyword,
pre .class .params {
  color: #66d9ef;
}
pre .tag,
pre .doctype,
pre .params,
pre .function,
pre .css .value {
  color: #fff;
}
pre .css ~ * .tag,
pre .title,
pre .at_rule,
pre .at_rule .keyword,
pre .preprocessor,
pre .preprocessor .keyword {
  color: #f92672;
}
pre .attribute,
pre .built_in,
pre .class,
pre .css ~ * .class,
pre .function .title {
  color: #a6e22e;
}
pre .value,
pre .string {
  color: #e6db74;
}
pre .number {
  color: #7163d7;
}
pre .id,
pre .css ~ * .id {
  color: #fd971f;
}