#header .tagcloud a{
    color:#fff; 
}
.tagcloud{
    a{
        display:inline-block;  
        text-decoration:none;  
        font-weight: normal;
        font-size:10px;  
        color:#fff;   
        height:18px;  
        line-height:18px;  
        float: left;
        padding:0 5px 0px 10px;  
        position:relative;  
        border-radius:0 5px 5px 0; 
        margin: 5px 9px 5px 8px;
        font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
        &:hover{
            opacity: 0.8;
        }
        &:before{
            content: " ";
            width: 0px;
            height: 0px;
            position: absolute;
            top: 0;
            left: -18px;
            border: 9px solid transparent;
        }
        &:after{  
            content:" ";  
            width:4px;  
            height:4px;  
            background-color:#fff;  
            border-radius:4px;  
            box-shadow:0px 0px 0px 1px rgba(0,0,0,.3);  
            position:absolute;  
            top: 7px;
            left: 2px;
        }  
    }
    a.color1{
        background:  #FF945C;
        &:before{
            border-right-color: #FF945C;  
        }
    }
    a.color2{
        background:  #cc8167;
        &:before{
            border-right-color: #cc8167;  
        }
    }
    a.color3{
        background:  #BA8F6C;
        &:before{
            border-right-color: #BA8F6C;  
        }
    }
    a.color4{
        background: #94635c;
        &:before{
            border-right-color:#94635c;  
        }
    }
    a.color5{
        background: #7B5D5F;
        &:before{
            border-right-color:#7B5D5F;  
        }
    }
}

.article-tag-list{
    .article-tag-list-item{
        float: left;
    }
}
.article-pop-out{
    float: left;
    .icon-tuding {
        color: #999;
        float: left;
        margin-right: 10px;
        margin-top: 6px;
    }
}
.article-tag, .article-category{
    float: left;
    .article-tag-list{
        float: left;
    }
    .icon {
        color: #999;
        float: left;
        margin-right: 10px;
        margin-top: 6px;
    }
}
.article-pop-out {
    float: left;
}

.archive-article-date {
    color: #999;
    margin-right: 7.6923%;
    float: right;
    .icon {
        margin: 5px 5px 5px 0;
    }
}