#footer
    font-size: .8rem;
    font-family: font-chs, sans-serif;
    text-shadow: 0 1px #fff;
    position: absolute;
    bottom: 20px;
    opacity: 0.75;
    width: 100%;
    text-align: center;
    .footer-left
        float left
    .footer-right
        float right
    .outer
        padding: 0 30px;
    .fa-heart
        color red
        animation-duration 1.1s
    #busuanzi_value_site_uv
    ,#busuanzi_container_page_pv
        font-family font-mono
    .visit
        font-size .88rem
        .fa
            padding-right .25em
            color gray
        #site-visit:hover
        ,#page-visit:hover
            color black
            .fa
                color #333
