#footer
    font-size: .8em;
    font-family: font-chs, sans-serif;
    text-shadow: 0 1px #fff;
    position: absolute;
    bottom: 20px;
    opacity: 0.75;
    width: 100%;
    text-align: center;
    .outer
        padding: 0 30px;
    .fa-heart
        color red
        animation-duration 1.1s

.footer-left{
  float: left;
}
.footer-right{
  float: right;
}