#footer {
  font-size: 12px;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  text-shadow: 0 1px #fff;
  margin: 10px 40px 10px 40px;
  padding-bottom: 30px;
  text-align: center;
}
.footer-left{
  float: left;
}
.footer-right{
  float: right;
}