// https://github.com/chriskempson/tomorrow-theme

code-bgc = #272822
code-tag = #F92672
code-attr = #A6E22E
code-word = #FFFFFF
code-value = #E6DB74
code-number = #9E90FF
code-keyword = #66D9EF
code-comment = #75715E
code-argument = #FD971F

$code-block
  background: code-bgc
  margin: 10px 0
  padding: 10px 10px
  overflow: auto
  color: #4C4C4C
  line-height: font-size * line-height

$line-numbers
  color: #666

.article-entry
  pre, code
    font-family: font-mono
  code
    background: color-background
    padding: 0 0.3em
    border: none
  pre
    @extend $code-block
    color: code-word
    code
      background: none
      text-shadow: none
      padding: 0
      color: code-word
  .highlight
    @extend $code-block
    border-radius: 4px
    pre
      border: none
      margin: 0
      padding: 0
    table
      margin: 0
      width: auto
    td
      border: none
      padding: 0
    figcaption
      clearfix()
      font-size: 0.85em
      color: highlight-comment
      line-height: 1em
      margin-bottom: 1em
      a
        float: right
    .gutter pre
      @extend $line-numbers
      text-align: right
      padding-right: 20px
      .line
        text-shadow: none
    .line
      font-size: 15px
      height: 15px
  .gist
    margin: 0 article-padding * -1
    border-style: solid
    border-color: color-border
    border-width: 1px 0
    background: code-bgc
    padding: 15px article-padding 15px 0
    .gist-file
      border: none
      font-family: font-mono
      margin: 0
      .gist-data
        background: none
        border: none
        .line-numbers
          @extend $line-numbers
          background: none
          border: none
          padding: 0 20px 0 0
        .line-data
          padding: 0 !important
      .highlight
        margin: 0
        padding: 0
        border: none
      .gist-meta
        background: code-bgc
        color: highlight-comment
        font: 0.85em font-sans
        text-shadow: 0 0
        padding: 0
        margin-top: 1em
        margin-left: article-padding
        a
          color: color-link
          font-weight: normal
          &:hover
            text-decoration: underline

pre
  .comment
    color: code-comment

  .keyword
  .function .keyword
  .class .params
    color: #66D9EF
   
  .tag
  .doctype
  .params
  .function
  .css .value
    color: code-word

  .css ~ * .tag
  .title
  .at_rule
  .at_rule .keyword
  .preprocessor
  .preprocessor .keyword
    color: code-tag

  .attribute
  .built_in
  .class
  .css ~ * .class
  .function .title
    color: code-attr

  .value
  .string
    color: code-value

  .number
    color: #7163D7

  .id
  .css ~ * .id
    color: code-argument
