#post-instagram{
	.article-entry{
		padding-right: 0;
	}
	padding: 30px 40px 30px 40px;
}
.instagram{
	position: relative;
	min-height: 500px;
}
.instagram .open-ins{
	display: block;
	padding: 10px 0;
	position: absolute;
	right: 28px;
	top: -75px;
	z-index: 1000;
	color: #333;
	&:hover{
		color: #657b83;
	}
}
.instagram .year{
	margin-left: 20px;
	display: inline;
}
.instagram .album h1 em{
	font-style: normal;
	font-size: 14px;
	margin-left: 10px;
}
.instagram .album ul{
	min-height: 149px;
	padding-top: 17px;
	border-bottom: 1px solid #ddd;
	list-style: none;
}
.instagram .album li{
	position: relative;
	display: inline-block;
	min-width: 157px;
	margin: 0;
	&:before{
		display: none;
	}
}
@media screen and (max-width:600px) {
	.instagram .album ul {
		margin-left: 0;
		padding:15px 0;
		text-align: center;
	}
	.instagram .album li {
		width: 300px;
	}
}

.instagram .album div.img-box{
	position: relative;
	margin: 0 20px 10px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 1px 0 1px rgba(255,255,255,0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 1px 0 1px rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 1px 0 1px rgba(255,255,255,0.1);
}
.instagram .album div.img-box .img-bg{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0px;
	width: 100%;
	margin: -5px;
	padding: 5px;
	background: rgba(204, 204, 204, 0.8) ;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1);
	box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1);
	-webkit-transition: all 0.15s ease-out 0.1s;
	-moz-transition: all 0.15s ease-out 0.1s;
	-o-transition: all 0.15s ease-out 0.1s;
	transition: all 0.15s ease-out 0.1s;
	opacity: 0.2;
	cursor: pointer;
	display: block;
}
.instagram .album div.img-box .img-bg:hover{
	opacity: 0;
}
.instagram .album div.img-box img{
	width: 100%;
	height: auto;
	display: block;
}