.share {
    padding-left: 40px;
    margin-bottom: 5px;
    opacity: .2;
    &:hover {
        opacity: .7;
    };
}
.back_home{
    float: right;
}
.back_home a{
    font-weight: bold;
    margin-left: 10px;
}
.back_home a:hover{
    color: #6e6e6e;
}
.share:hover {
    a:last-child::after {
        content: "\f029"; /*fa fa-qrcode*/
        font: 28px FontAwesome;
        color: black;
    }
}
